p:only-child{
    color: blue;
}



div{
    background-color: red;
    width: 90%;
    margin: auto;
}
@media (max-width:1000px) {
    div{
        background-color: green;
        width: 70%;
        color: wheat;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

    }
}
div{
    background-color: red;
    width: 90%;
    margin: auto;
}
@media (min-width:60px) {
    div{
        background-color:blue;
        width: 70%;
        color: wheat;
        display: flex;
        flex-directio

.header {
    /* Estilos para header */
}

.container {
    /* Estilos para container */
}

.main {
    /* Estilos para main */
}

#btn {
    /* Estilos para #btn */
}

#main {
    /* Estilos para #main */
}
